*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.container{
    height: 65%;
    width: 90%;
    display: flex;
    margin:5px auto;
    gap: 10px;
}
.posters{
    height: 100%;
    width: 10%;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid rgba(241, 234, 234, 0.767);
    box-shadow: 0 0 5px white;
    /* transition-delay: 0.1s; */
    transition:0.1s ease-in-out;
}
.posters img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.posters:hover{
    width:30%;
    cursor: pointer;
}